body {
	background-color: #EAE7DD;
}


#picture_frame {
	height: 13em;
	width: 13em;
	background-color: #ff4719;
	/*border: 3px solid black;*/
	position: static;
}


#picture {
	height: 11em;
	width: 11em;
	margin: auto;
	left: 1em;
	top: 1em;
	position: relative;
}


#about {
	height: 21em;
	width: 13em;
	background-color: #ff4719;
	/*border: 3px solid black;*/
	top: 26.5em;
	position: fixed;

}

#contact {
	height: 13em;
	width: 13em;
	background-color: #ff4719;
	/*border: 3px solid black;*/
	position: fixed;
	left: 26.5em;
	top: 26.5em;
}


header {
	height: 13em;
	width: 55em;
	background-color: #ff4719;
	/*border: 3px solid black;*/
	position: fixed;
	left: 26.5em;
}


header h2 {
	margin: center;
}


nav {
	height: 13em;
	width: 13em;
	background-color: #ff4719;
	/*border: 3px solid black;*/
	position: fixed;
	left: 13.5em;
	top: 13.5em;
	position: fixed;
}


a:link {
	text-decoration: none;
}


a:hover {
	font-weight: bolder;
	color: #EAE7DD;
}


nav h3 a {
	height: 72px;
	width: 72px;
	background-color: #EAE7DD;
}


#github {
	height: 5em;
	width: 5em;
	background-color: #ff4719;
	/*border: 3px solid black;*/
	left: 49em;
	top: 33em;
	position: fixed;
}

#linkedin {
	height: 5em;
	width: 5em;
	background-color: #ff4719;
	/*border: 3px solid black;*/
	position: fixed;
	top: 33em;
	left: 62em;
}

#twitter {
	height: 5em;
	width: 5em;
	background-color: #ff4719;
	/*border: 3px solid black;*/
	position: fixed;
	top: 33em;
	left: 75em;
}

footer {
	height: 5em;
	width: 55em;
	background-color: #ff4719;
	/*border: 3px solid black;*/
	top: 42.5em;
	left: 26.5em;
	position: fixed;
}