body {
	background-color: #cc9900;
}

.medium {
	height: 144px;
	width: 144px;
	background-color: #ff4719;
	border: 3px solid black;
	/*padding: 9px;*/
}

#picture {
	height: 108px;
	width: 108px;
	margin: auto;
}

header {
	height: 144px;
	width: 610px;
	background-color: #ff4719;
	float: right;
	border: 3px solid black;
}

header h2 {
	margin: center;
}

